
h1{
  font-size: 64px;
  color: antiquewhite;
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MainButton:hover{
  cursor: pointer;
  transform: translate(-50%, -50%) scale(1.03); /* */
}

.MainButton{
  padding: 12px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 0 35px 2px darkmagenta ;
  background: white;
  color: #0b0f19;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  transition: transform 0.2s ease-out;
}