
h1{
  font-size: 64px;
  color: antiquewhite;
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button:hover{
  cursor: pointer;
  transform: translate(-50%, -50%) scale(1.03); /* */
}

.MainButton{
  border: none;
  border-radius: 15px;
  padding: 16px;
  background-color: #FFFFFF;
  box-shadow-color: aqua;
  box-shadow: -0px 0 69px 10px darkmagenta;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  transition: transform 0.2s ease-out;
}